{% macro displayHighlightList(highlight_list) %}

{% for highlight in highlight_list %}
<!-- <div class="container">
    <div class="row"> -->
<div class="col-sm-12 col-sm-4 col-md-2 col-lg-3 highlight-card" style="margin-bottom: 20px; padding-left: 0px;">
    <img src="{{ highlight.urlToImage }}" alt="{{ highlight.title }} urlToImage" class="img-responsive">
    <li class="text-center">
        <a href="{{highlight.url}}">
            {{ highlight.title|truncate(20)}}</a>
    </li>
    {{ highlight.publishedAt|truncate }}
    <!-- </div>
    </div> -->
</div>
{% endfor %}

{% endmacro %}