<div class="navbar-inverse role=navigation navbar-expand-lg navbar-fixed-top scrolling-navbar" style="background-color: rgb(176, 211, 224);">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-weight: bolder; color:black" href="#">News Highlight</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a style="font-weight: bolder; color: black" href="/">Home</a></li>
                <li><a style="font-weight: bolder; color: black"href="#News">Articles</a></li>
            </ul>    

        </div>

    </div>
</div>