<!-- <div class="navbar-dark nav-inverse navbar-expand-lg navbar-fixed-top role =navigation scrolling-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand black-text" href="#">News Highlight</a>
    </div>
     
        <div class="collapse navbar-collapse" id="basicExampleNav">
            
            <ul class="navbar-nav mr-auto smooth-scroll">
                <li class="nav navbar nav-item active">
                    <a class="nav-link display-2 font-bold black-text" href="/">Home</a>
                </li>
                <li class="nav navbar nav-item active">
                    <a class="nav-link display-2 font-bold black-text" href="#News Highlight Sources">Sources</a>

                </li>
            </ul>
        </div>
    </div>
</div> -->

<div class="navbar-inverse role=navigation navbar-expand-lg navbar-fixed-top scrolling-navbar" style="background-color:rgb(82, 180, 241)")
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-weight: bolder; color:black" href="#">News Highlight</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a style="font-weight: bolder; color: black" href="/">Home</a></li>
                <li><a style="font-weight: bolder; color: black"href="#News">Articles</a></li>
            </ul>    

        </div>

    </div>
</div>